.panel{
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: #f0f4f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  width: 20vw;
  margin-top: 110px;
  border-radius: 8px;
}

.panel_title{
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 12px;

}

.editButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #007bff; 
  outline: none;
}


.editButton:hover {
  color: #0056b3; 
  text-decoration: underline; 
}

.deleteItemButton{
  left: 80%;
  width: 15%;
  border: none;
  cursor: pointer;
  font-size: 12px;
  border-radius: 5px;
  font-weight: bold;
  background-color: transparent;
  color: #dc3545;
  font-weight: bold;
}

.deleteItemButton:before {
  content: "\2715";
  display: inline-block;
  margin-right: 5px;
  font-size: 16px;
}

.deleteItemButton:hover{
  text-decoration: underline; 
  color: #b4323f;
}

.buttons{
  margin-top: 5px;
  margin-bottom: 5px;
}

.category{
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 90%;
  background-color: #DEDADA;
  margin-top: 5px;
  margin-left: 12px;
  margin-bottom: 5px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.categoryTxt{
  font-size: 16px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 80%;
}

.categoryInput{
  background-color: #DEDADA;
  font-size: 16px; 
  border: 0px solid transparent;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  overflow-y: hidden;
  background-color: #DEDADA;
  border: none;
  outline: none;
  resize: none;
  vertical-align: top;
  margin-top: 5px;
  margin-left: 7px;
  margin-bottom: 5px;
  border-radius: 8px;
  max-width: 80%;
}

.newCategoryButton{
    display: flex;
    margin-left: 5%;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 30px;
    background-color: #007bff;
    color: white;
    border-radius: 10%;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 8px;

}


.selectedCategory{
  border: 2px solid #6f9ccc;
}



.category:active {

  transform: scale(0.98); 
  transition: transform 0.1s ease; 
}