.mainContainer {
  display: flex;
  flex-direction: column; 
  width: 390%; 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.boardContainer {
  display: flex;
  justify-content: space-around;
  align-items: start;
  padding: 20px;
  height: 200vh;
  overflow: hidden;
}

.board {
  display: flex;
  flex-direction: column;
  width: 50%; /* Adjusted for equal width */
  padding: 20px;
  margin: 0 10px;
  background-color: #f0f4f8;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.categoryTitle {
  font-size: 32px;
  color: #333;
  padding-top: 15px;
  margin-bottom: 15px;
  padding-left: 30px;
  text-align: left;
  font-weight: bold;
  margin-left: 2px;
}

.board__title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.item {
  position: relative;
  width: 90%;
  min-height: 70px;
  background-color: #DEDADA;
  padding: 15px;
  margin-bottom: 15px;
  margin-left: -1%;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.item-description {
  font-size: 17px; 
  max-width: 90%;
  white-space: pre-wrap; 
  white-space: pre-wrap; 
  word-wrap: break-word; 
  overflow-wrap: break-word;
  margin-top: 8px;
  margin-bottom: 4px;
  margin-left: 2px;
  min-height: 20px;
  position: relative;
}

.item-title {
  max-width: 90%;
  white-space: pre-wrap; 
  white-space: pre-wrap; 
  word-wrap: break-word; 
  overflow-wrap: break-word;
  border: none;
  font-size: 19px; 
  margin-top: 2px; 
  margin-bottom: 10px;
  margin-left: 2px;
  min-height: 20px;
  font-weight: 650;
  background-color: transparent;
  outline: none;
}

.add-item-button {
  display: inline-block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
}

.add-item-button:hover {
  background-color: #0056b3;
}


.item-edit-form-input,
.item-edit-form-textarea {
  border: none;
  white-space: pre-wrap; 
  outline: none;
  resize: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: #DEDADA;
  margin-top: -2px;
  transition: background-color 0.2s; /* Плавный переход фона */
}
.item-edit-form-textarea{
  font-size: 17px; /* Размер шрифта */
  max-width: 94%;

}

.item-edit-form-input{
  font-size: 19px; 
  font-weight: 680;
  margin-top: 0px;
  margin-bottom: -4px;
  max-width: 90%;

}


.delete-item-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  color: #dc3545;
  border: none;
  cursor: pointer;
  padding: 5px 8px;
  font-size: 14px;
  border-radius: 8px;
}

.delete-item-button:hover {
  color: #e26975;
}

.delete-item-button:before {
  content: "\2715";
  font-size: 18px;
  font-weight: bold;
}


.delete-item-button:active {

  transform: scale(0.9); 
  transition: transform 0.1s ease; 
}

.add-item-button:active {

  transform: scale(0.98); 
  transition: transform 0.1s ease; 
}

.item.draggable {
  cursor: grab;
}

.item.hovered {
  border: 2px dashed #007bff;
}
