.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

}

.formBox {
    padding: 20px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 100%;
    margin-top: 20px; 
}

.formInput {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 90%;
    border: 1px solid #ddd;
    border-radius: 8px; 
    background-color: #f8f8f8; 
}

.formButton {
    display: inline-block;
    width: 90%; 
    padding: 10px;
    margin-top: 20px; 
    color: #fff;
    border-radius: 8px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: rgb(6,14,131);
    background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
    cursor: pointer;
    transition: all 0.3s ease;
    border: none; 
    text-align: center;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
                 7px 7px 20px 0px rgba(0,0,0,.1),
                 4px 4px 5px 0px rgba(0,0,0,.1);
}

.formButton:hover {
    background: rgb(0,3,255);
    background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
}

.error {
    color: red;
    margin-top: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

}

.siteHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px; 
}

.siteIcon {
    
    width: 70px; 
    height: 70px; 
    margin-bottom: 10px;
}

.siteName {
    
    font-size: 27px; 
    font-family: "Cascadia Mono", sans-serif;
    color: #333; 
    font-weight: bold; 
    text-align: center;
}
.success {
    color: #28a745; 
    margin-top: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  }
  